@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  gap: 20px;
  border: 10px solid #356;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.grid-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 10px;
  align-items: center;
  justify-items: center;
}
